<div class="root">
  <svg
    [attr.viewBox]="'0 0 ' + width + ' ' + height"
    preserveAspectRatio="none"
    width="100%"
    height="100%"
    class="viewBox"
  >
    <g class="mid">
      <line x1="0" [attr.y1]="mid" [attr.x2]="width" [attr.y2]="mid" />
    </g>

    <g class="hours">
      <line *ngFor="let hour of hours" [attr.x1]="hour.x" y1="0" [attr.x2]="hour.x" [attr.y2]="height" />
    </g>
    <g class="chart">
      <polyline
        *ngFor="let group of pointGroups"
        [attr.points]="group.points.join(' ')"
        [ngClass]="'points points-' + group.id"
      />
    </g>
  </svg>
</div>
