.root {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  line-height: 30px;
}

.previous {
  flex: 1;
  color: #999;
  text-align: right;
  margin-right: 10px;
}

.current {
  flex: 0 0 130px;
  text-align: center;
  font-size: 20px;
}

.next {
  flex: 1;
  color: #999;
  text-align: left;
  margin-left: 10px;
}
