<div class="root">
  <a [attr.href]="previousDate | date: 'yyyy-MM-dd'" class="previous">&larr; {{ previousDate | date: 'd MMMM' }}</a>
  <span class="current">{{ currentDate | date: 'd MMMM' }}</span>
  <span class="next" *ngIf="nextDayIsInFuture">{{ nextDate | date: 'd MMMM' }}</span>
  <a [attr.href]="nextDate | date: 'yyyy-MM-dd'" class="next" *ngIf="!nextDayIsInFuture"
    >{{ nextDate | date: 'd MMMM' }} &rarr;</a
  >
</div>
