.root {
  display: flex;
  flex-direction: row;
}

.names {
  flex: 0 0 170px;

  @media (max-width: 700px) {
    flex-basis: 100px;
  }
}

.name {
  font-size: 14px;
  height: 40px;
  color: #888;
  line-height: 40px;
  padding-right: 5px;
  text-align: right;

  @media (max-width: 700px) {
    line-height: 1em;
  }
}

.charts {
  position: relative;
  flex: 1;
}

.chart {
  height: 40px;
  position: relative;
}

.readingLine {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.reading {
  position: absolute;
  font-size: 11px;
  color: #ccc;
  margin: 2px;
}

.readingTime {
  font-size: 10px;
  color: #ccc;
  position: absolute;
  bottom: 0;
  background: #fff;
}

.hours {
  margin-top: 5px;
  position: relative;
  font-size: 10px;
  color: #ddd;
}

.h0 {
}

.h6 {
  position: absolute;
  left: 25%;
}

.h12 {
  position: absolute;
  left: 50%;
}

.h18 {
  position: absolute;
  left: 75%;
}

.h24 {
  position: absolute;
  right: 0;
}
