<div class="root">
  <app-navigation [date]="date"></app-navigation>
  <div class="loading" *ngIf="loading">Loading...</div>

  <div class="error" *ngIf="error">Error!</div>

  <div class="noData" *ngIf="hasData && !stations.length">No data from API</div>

  <ng-container *ngIf="hasData && stations.length">
    <app-stations [stations]="stations" [min]="min" [max]="max"></app-stations>

    <div class="footer">
      <div class="stats">
        {{ stations.length }} stations
        <br />
        Min: {{ min }}°, max: {{ max }}°
      </div>
      <a
        class="sourceLink"
        target="_blank"
        rel="noopener noreferrer"
        href="https://data.gov.sg/dataset/realtime-weather-readings"
      >
        data.gov.sg
      </a>
    </div>
  </ng-container>
</div>
