.root {
  padding: 20px;
}

.loading {
  color: #999;
}

.error {
  color: #900;
}

.noData {
}

.data {
}

.footer {
  color: #666;
  width: 170px;
  margin-top: 20px;
  text-align: right;

  @media (max-width: 700px) {
    width: auto;
    text-align: left;
  }
}

.stats {
}

.sourceLink {
  color: #999;
  font-size: 10px;
}
