<div class="root">
  <div class="names">
    <div class="name" *ngFor="let station of stations">
      {{ station.name }}
    </div>
  </div>
  <div
    class="charts"
    #chartsEl
    (mouseover)="onMouseOver($event)"
    (focus)="onMouseOver($event)"
    (mouseout)="onMouseOut($event)"
    (blur)="onMouseOut($event)"
    (mousemove)="onMouseMove($event)"
    (click)="onMouseMove($event)"
    role="presentation"
  >
    <div class="readingLine" *ngIf="showTooltip && timestamp" [ngStyle]="{ 'left.%': tooltipX * 100 }">
      <ng-container *ngFor="let reading of readings">
        <div *ngIf="reading" class="reading" [ngStyle]="{ 'top.px': reading.top }">{{ reading.value.toFixed(1) }}°</div>
      </ng-container>
      <div class="readingTime">{{ timestamp.substr(11, 5) }}</div>
    </div>
    <div class="chart" *ngFor="let station of stations">
      <app-temperature-chart
        [data]="station.readings"
        [min]="min"
        [max]="max"
        [height]="height"
      ></app-temperature-chart>
    </div>
    <div class="hours">
      <span class="h0">00:00</span>
      <span class="h6">06:00</span>
      <span class="h12">12:00</span>
      <span class="h18">18:00</span>
      <span class="h24">00:00</span>
    </div>
  </div>
</div>
