<script>
  import { onMount } from 'svelte';

  import Navigation from '../components/Navigation';
  import Stations from '../components/Stations';
  import { getTimestamps, sortObjByField } from '../utils/utils';

  export let router = {};

  let loading = false;
  let hasData = false;
  let error = false;
  let stations;
  let min;
  let max;

  const date = router.params.date;

  onMount(() => {
    loadData();
  });

  const loadData = () => {
    loading = true;

    const url = `https://api.data.gov.sg/v1/environment/air-temperature?date=${date}`;

    fetch(url)
      .then((response) => response.json())
      .then(parseData)
      .catch(requestError);
  };

  const requestError = () => {
    loading = false;
    error = true;
  };

  const parseData = (response) => {
    if (!response.items.length) {
      loading = false;
      hasData = true;
      stations = [];
      return;
    }

    const s = getSortedStations(response);
    loading = false;
    hasData = true;
    stations = s.sortedStations;
    min = s.min;
    max = s.max;
  };

  const getSortedStations = (response) => {
    const stations = {};

    const firstTimestamp = response.items[0].timestamp;
    const emptyTimestamps = getTimestamps(
      firstTimestamp.substr(0, 11),
      firstTimestamp.substr(16, 9)
    );

    response.metadata.stations.forEach((s) => {
      stations[s.id] = {
        ...s,
        readings: {
          ...emptyTimestamps
        },
        last: ''
      };
    });

    let _min = Infinity;
    let _max = -Infinity;

    response.items.forEach((item) => {
      const { timestamp } = item;

      item.readings.forEach((reading) => {
        const station = stations[reading.station_id];
        station.readings[timestamp] = reading.value;
        station.last = timestamp;
        _max = Math.max(_max, reading.value);
        _min = Math.min(_min, reading.value);
      });
    });

    const sortedStations = sortObjByField(stations, 'name');
    return {
      min: _min,
      max: _max,
      sortedStations
    };
  };
</script>

<style>
  .root {
    padding: 20px;
  }

  .loading {
    color: #999;
  }

  .error {
    color: #900;
  }

  .noData {
  }

  .data {
  }

  .footer {
    color: #666;
    width: 170px;
    margin-top: 20px;
    text-align: right;

    @media (max-width: 700px) {
      width: auto;
      text-align: left;
    }
  }

  .stats {
  }

  .sourceLink {
    color: #999;
    font-size: 10px;
  }
</style>

<div class="root">
  <Navigation {date} />

  {#if hasData}
    {#if !stations.length}
      <div class="noData">No data from API</div>
    {:else}
      <div class="data">
        <Stations {stations} {min} {max} />
        <div class="footer">
          <div class="stats">
            {stations.length} stations
            <br />
            Min: {min}°, max: {max}°
          </div>
          <a
            class="sourceLink"
            target="_blank"
            rel="noopener noreferrer"
            href="https://data.gov.sg/dataset/realtime-weather-readings">
            data.gov.sg
          </a>
        </div>
      </div>
    {/if}
  {/if}

  {#if loading}
    <div class="loading">Loading...</div>
  {/if}

  {#if error}
    <div class="error">Error!</div>
  {/if}
</div>
