<script>
  import { Router, Route } from 'svero';
  import DayPage from '../pages/DayPage';
  import TodayPage from '../pages/TodayPage';
  import NotFoundPage from '../pages/NotFoundPage';
</script>

<Router>
  <Route path="*" component={NotFoundPage} />
  <Route path="/" component={TodayPage} />
  <Route path="/:date" component={DayPage} />
</Router>
