<script>
  import { Link } from 'svero';
  import { dmmmmDateFormat, yyyymmddDateFormat } from '../utils/utils';

  export let date;

  const currentDate = new Date(date);
  const previousDate = new Date(currentDate.getTime() - 86400000);
  const nextDate = new Date(currentDate.getTime() + 86400000);

  const today = new Date();
  // stupid timezones
  const nextDayIsInFuture = yyyymmddDateFormat(nextDate) > yyyymmddDateFormat(today);
</script>

<style>
  .root {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    line-height: 30px;
  }

  .previous {
    flex: 1;
    color: #999;
    text-align: right;
    margin-right: 10px;
  }

  .current {
    flex: 0 0 130px;
    text-align: center;
    font-size: 20px;
  }

  .next {
    flex: 1;
    color: #999;
    text-align: left;
    margin-left: 10px;
  }
</style>

<div class="root">
  <a href={`/${yyyymmddDateFormat(previousDate)}`} class="previous">
    ←
    {dmmmmDateFormat(previousDate)}
  </a>
  <span class="current">{dmmmmDateFormat(currentDate)}</span>
  {#if nextDayIsInFuture}
    <span class="next">{dmmmmDateFormat(nextDate)}</span>
  {:else}
    <a href={`/${yyyymmddDateFormat(nextDate)}`} class="next">{dmmmmDateFormat(nextDate)} →</a>
  {/if}
</div>
