<script>
  import throttle from 'p-throttle';

  import TemperatureChart from './TemperatureChart';
  import { getScaledY } from '../utils/utils';

  export let stations;
  export let height = 40;
  export let min;
  export let max;

  let showTooltip = false;
  let tooltipX = 0;
  let readings;
  let timestamp;

  let chartsEl;

  const getTooltipX = throttle(
    (e) => {
      const rect = chartsEl.getBoundingClientRect();
      const width = chartsEl.clientWidth;
      const x = e.clientX - rect.left;
      tooltipX = x / width;

      timestamp = getTimestampForX(tooltipX);

      if (timestamp) {
        readings = stations.map((station, i) => {
          const value = station.readings[timestamp];
          if (!value) {
            return false;
          }
          const baseHeight = height * i;
          const top = baseHeight + getScaledY(value, height, min, max);
          return {
            id: station.id,
            value,
            top
          };
        });
      }
    },
    1,
    20
  );

  const onMouseOver = () => {
    showTooltip = true;
  };

  const onMouseOut = () => {
    showTooltip = false;
  };

  const onMouseMove = (e) => {
    getTooltipX(e);
  };

  const getTimestampForX = (x) => {
    const timestamps = Object.keys(stations[0].readings);

    const keyIndex = Math.round(timestamps.length * x);
    const timestamp = timestamps[keyIndex];

    return timestamp;
  };
</script>

<style>
  .root {
    display: flex;
    flex-direction: row;
  }

  .names {
    flex: 0 0 170px;

    @media (max-width: 700px) {
      flex-basis: 100px;
    }
  }

  .name {
    font-size: 14px;
    height: 40px;
    color: #888;
    line-height: 40px;
    padding-right: 5px;
    text-align: right;

    @media (max-width: 700px) {
      line-height: 1em;
    }
  }

  .charts {
    position: relative;
    flex: 1;
  }

  .chart {
    height: 40px;
    position: relative;
  }

  .readingLine {
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .reading {
    position: absolute;
    font-size: 11px;
    color: #ccc;
    margin: 2px;
  }

  .readingTime {
    font-size: 10px;
    color: #ccc;
    position: absolute;
    bottom: 0;
    background: #fff;
  }

  .hours {
    margin-top: 5px;
    position: relative;
    font-size: 10px;
    color: #ddd;
  }

  .h0 {
  }

  .h6 {
    position: absolute;
    left: 25%;
  }

  .h12 {
    position: absolute;
    left: 50%;
  }

  .h18 {
    position: absolute;
    left: 75%;
  }

  .h24 {
    position: absolute;
    right: 0;
  }
</style>

<div class="root">

  <div class="names">
    {#each stations as station}
      <div class="name"> {station.name}</div>
    {/each}
  </div>

  <div
    class="charts"
    on:mouseover={onMouseOver}
    on:focus={onMouseOver}
    on:mouseout={onMouseOut}
    on:blur={onMouseOut}
    on:mousemove={onMouseMove}
    on:click={onMouseMove}
    bind:this={chartsEl}
    role="presentation">

    {#if showTooltip && timestamp}
      <div class="readingLine" style={`left: ${tooltipX * 100}%`}>
        {#each readings as reading}
          {#if reading}
            <div class="reading" style={`top: ${reading.top}px`}> {reading.value.toFixed(1)}°</div>
          {/if}
        {/each}
        <div class="readingTime">{timestamp.substr(11, 5)}</div>
      </div>
    {/if}

    {#each stations as station}
      <div class="chart">
        <TemperatureChart data={station.readings} {min} {max} {height} />
      </div>
    {/each}

    <div class="hours">
      <span class="h0">00:00</span>
      <span class="h6">06:00</span>
      <span class="h12">12:00</span>
      <span class="h18">18:00</span>
      <span class="h24">00:00</span>
    </div>
  </div>
</div>
