<script>
  import { getScaledY } from '../utils/utils';

  export let data;
  export let min;
  export let max;
  export let height;

  const width = 60 * 24;
  const mid = height / 2;

  const calculatePointGroups = (width, height, data, min, max) => {
    const groups = [
      { id: 'extreme', threshold: 37 },
      { id: 'too-high', threshold: 35 },
      { id: 'high', threshold: 33 },
      { id: 'medium-high', threshold: 31 },
      { id: 'medium', threshold: 29 },
      { id: 'medium-low', threshold: 27 },
      { id: 'low', threshold: 25 },
      { id: 'very-low', threshold: 21 },
      { id: 'zero', threshold: 0 }
    ];

    const pointGroups = [];

    let lastGroupId;
    let lastPoint;

    Object.keys(data).forEach((timestamp, i) => {
      const reading = data[timestamp];

      if (!reading) {
        lastGroupId = undefined;
        lastPoint = undefined;
        return;
      }

      const currentGroup = groups.find((g) => g.threshold < reading);
      if (lastGroupId !== currentGroup.id) {
        pointGroups.push({
          id: currentGroup.id,
          points: [lastPoint]
        });
        lastGroupId = currentGroup.id;
      }

      const targetGroup = pointGroups[pointGroups.length - 1];

      const x = i;
      const y = getScaledY(reading, height, min, max);
      const point = `${x},${y.toFixed(2)}`;
      lastPoint = point;

      targetGroup.points.push(point);
    });

    return pointGroups;
  };

  const pointGroups = calculatePointGroups(width, height, data, min, max);
</script>

<style>
  .root {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .viewBox {
  }

  .chart {
  }

  .points {
    stroke-width: 1;
    fill: none;

    @media (max-width: 700px) {
      stroke-width: 2;
    }
  }

  .points-zero {
    stroke: #000;
  }

  .points-very-low {
    stroke: #004683;
  }

  .points-low {
    stroke: #0074d9;
  }

  .points-medium-low {
    stroke: #00b1d9;
  }

  .points-medium {
    stroke: #1cd900;
  }

  .points-medium-high {
    stroke: #d98200;
  }

  .points-high {
    stroke: #d94c00;
  }

  .points-too-high {
    stroke: #d90000;
  }

  .points-extreme {
    stroke: #f00;
  }

  .mid,
  .hours {
    stroke: #eee;
    stroke-width: 1;
  }

  .hours {
    @media (max-width: 700px) {
      stroke-width: 2;
    }
  }
</style>

<div class="root">

  <svg
    viewBox={`0 0 ${width} ${height}`}
    width="100%"
    height="100%"
    preserveAspectRatio="none"
    class="viewBox">

    <g class="mid">
      <line x1={0} y1={mid} x2={width} y2={mid} />
    </g>

    <g class="hours">
      {#each [0, 6, 12, 18, 24] as hour}
        <line key={hour} x1={(width * hour) / 24} y1="0" x2={(width * hour) / 24} y2={height} />
      {/each}
    </g>

    <g class="chart">
      {#each pointGroups as group, i}
        <polyline points={group.points.join(' ')} class={`points points-${group.id}`} />
        ;
      {/each}
    </g>
  </svg>
</div>
