.root {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.viewBox {
}

.chart {
}

.points {
  stroke-width: 1;
  fill: none;

  @media (max-width: 700px) {
    stroke-width: 2;
  }
}

.points-zero {
  stroke: #000;
}

.points-very-low {
  stroke: #004683;
}

.points-low {
  stroke: #0074d9;
}

.points-medium-low {
  stroke: #00b1d9;
}

.points-medium {
  stroke: #1cd900;
}

.points-medium-high {
  stroke: #d98200;
}

.points-high {
  stroke: #d94c00;
}

.points-too-high {
  stroke: #d90000;
}

.points-extreme {
  stroke: #f00;
}

.mid,
.hours {
  stroke: #eee;
  stroke-width: 1;
}

.hours {
  @media (max-width: 700px) {
    stroke-width: 2;
  }
}
